torch==1.9.0
transformers~=4.16.2
sentence-transformers==2.2.0
tqdm~=4.56.0
tokenizers==0.11.4
numpy~=1.21.5
spacy~=2.3.5
pandas~=1.1.5
scikit-learn~=1.0.2
hyperopt~=0.2.5
hydra-core==1.1.1
pymongo~=4.1.1
nltk
omegaconf~=2.1.1
scipy~=1.7.3
statsmodels~=0.14.0.dev358+g8e8b86ecd
matplotlib
gensim